/* ************** Tagline ************** */

.typing-text {
  color: var(--bhagwa-color);
  font-family: 'Agdasima', sans-serif;
}

.typing-text:after {
  content: '|';
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* ************** End Tagline ************** */

/* ************** Navbar ************** */
.logo {
  width: 10rem;
}

.badge {
  position: absolute;
  background: var(--bhagwa-color);
  background-color: red;
  color: #fff;
  font-weight: 500;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  letter-spacing: 0;
  left: 10px;
  top: -15px;
  text-align: center;
  vertical-align: middle;
}

.search-box:focus {
  outline: none;
  border-bottom: 3px solid var(--bhagwa-color) !important;
}

/* ************** End Navbar ************** */

/* ************** Categories Component ************** */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Google Chrome and Safari */
  -webkit-overflow-scrolling: touch;
  /* iOS */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Set a transparent background color */
}

.image-box {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, red, orange) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
}

.category-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.pixalated {
  flex-shrink: 0;
}

.scroll-buttons {
  width: 50px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e2e0e0;
}

.right-scroll {
  position: absolute;
  top: 35%;
  left: 94%;
}

.left-scroll {
  position: absolute;
  top: 35%;
  left: 2.5%;
}

/* ************** End Categories Component ************** */

/* ************** Delivery features component ************** */

.delivery-features {
  background-color: var(--light-grayish-blue);
}

/* ************** End Delivery features component ************** */

/* ************** Home page ************** */
.shine {
  background: var(--pale-orange);
  color: black;
  animation: flicker 1.5s infinite alternate;
}
/* Flickering animation */
@keyframes flicker {
    
  25% {
    background: var(--light-grayish-blue);
  
  }
  50%{
    background: var(--pale-orange);
  }
  
  75% {        
      text-shadow: none;
      background: var(--light-grayish-blue);
  } 
  100%{
    background: var(--pale-orange);
  }   
}

/* ************** End Home page ************** */


.fa {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.discount-banner {
  background-image: linear-gradient(to left top, #ffd202, #ffac32, #ff865b, #ff6983, #ff5ea7);
}

/* ----------------- */

.item {
  margin-top: 2rem !important;
  padding: 0 3rem;
  max-width: 134rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
}

section {
  display: block
}

.img-main {
  max-width: 100%;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 2rem;
}

.img-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.img-btn {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 10%;
  transition: all 0.3s;
  position: relative;
}

.img-btn__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid transparent;
  transition: all 0.3s;
  transform-origin: bottom;
}

.price {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.price-sub__heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bhagwa-color);
}

.price-main__heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.price-txt {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

.price-box {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.price-box__main {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.price-box__main-new {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.price-box__main-discount {
  border: none;
  padding: 0.5rem 1.25rem;
  background-color: var(--pale-orange);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--bhagwa-color);
}

.price-box__old {
  font-size: 1rem;
  color: var(--grayish-blue);
  position: relative;
  text-decoration: line-through;
}

.price-btnbox {
  display: flex;
  gap: 2.5rem;
}

.price-btns {
  /* width: 30%; */
  padding: 1.5rem 1.25rem;
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
  height: 30%;

}

.price-btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
}

.price-btn__txt {
  font-size: 1rem;
  font-weight: 700;
}

.price-btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
  margin-bottom: 1rem;
}

.price-cart__btn {
  width: 50%;
  box-shadow: 0px 10px 25px 3px rgba(255, 125, 26, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn--orange {
  padding: 2rem 4rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--bhagwa-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  height: 30%;
  color: white;
}

.size-box select {
  width: 40%;
  background: --var(--pale-orange) !important;
  border: 1px solid var(--bhagwa-color);
  border-radius: 4px;
  color: var(--dark-grayish-blue);
}

.wishlist {
  display: flex;
  gap: 0.8rem;
  margin-left: 2rem;
  padding: 1rem;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.scroll-button {
  position: fixed;
  display: none;
  bottom: 10px;
  right:8%;
  line-height: 75px;
  border-radius: 5px;
  padding:18px;
  text-align:center;
  vertical-align: middle;
  background: white;
  box-shadow: 0px 0px 3px #000;
  z-index: 99;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .item {
    margin-top: 0 !important;
    padding: 0;
    width: 100%;
    grid-template-columns: 100%;
    gap: 0rem;
  }

  .img-main {
    border-radius: 0%;
    margin-bottom: .8rem;
  }

  .img-btns {
    gap: .6rem;
  }

  .price {
    gap: 1rem;
    padding: 0 1.2rem;
  }

  .price-sub__heading {
    font-size: 1rem;
  }

  .price-main__heading {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
  }

  .price-txt {
    margin-top: 1rem;
    font-size: 1rem;
  }

  /* -------- */
  .price-box {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;

  }

  .price-box__main {
    gap: 1rem;
    align-items: center;
  }

  .price-box__main-new {
    font-size: 1.5rem;
  }

  .price-box__main-discount {
    font-size: .8rem;
  }

  .price-btnbox {
    flex-direction: column;
    gap: 1.5rem;
  }

  .price-btns {
    padding: .75rem .75rem;
    gap: 1rem;
  }

  .price-cart__btn {
    width: 100%;
    margin-bottom: 4rem;
  }

  .btn--orange {
    padding: 1rem 2rem;
  }

  .size-box select {
    width: 50%;
    height: 45px;
  }

  .size-box .wishlist {
    height: 45px;
    text-align: center;
    align-items: center;
  }
  .scroll-button {
    bottom: 10%;
    padding:10px;
  }

}