/* ************** Tagline ************** */

.typing-text {
  color: var(--bhagwa-color);
  font-family: 'Agdasima', sans-serif;
}

.typing-text:after {
  content: '|';
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* ************** End Tagline ************** */

/* ************** Navbar ************** */
.logo {
  width: 10rem;
}

.badge {
  position: absolute;
  background: var(--bhagwa-color);
  background-color: red;
  color: #fff;
  font-weight: 500;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  letter-spacing: 0;
  left: 10px;
  top: -15px;
  text-align: center;
  vertical-align: middle;
}

.search-box:focus {
  outline: none;
  border-bottom: 3px solid var(--bhagwa-color) !important;
}

/* ************** End Navbar ************** */

/* ************** Categories Component ************** */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Google Chrome and Safari */
  -webkit-overflow-scrolling: touch;
  /* iOS */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Set a transparent background color */
}

.image-box {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, red, orange) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
}

.category-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.pixalated {
  flex-shrink: 0;
}

.scroll-buttons {
  width: 50px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e2e0e0;
}

.right-scroll {
  position: absolute;
  top: 35%;
  left: 94%;
}

.left-scroll {
  position: absolute;
  top: 35%;
  left: 2.5%;
}

/* ************** End Categories Component ************** */

/* ************** Delivery features component ************** */

.delivery-features {
  /* background-color: var(--light-grayish-blue); */
  background: rgb(235, 244, 255);
}

/* ************** End Delivery features component ************** */

/* ************** Home page ************** */
/* .shine {
  background: var(--pale-orange);
  color: black;
  animation: flicker 1.5s infinite alternate;
}
/* Flickering animation 
@keyframes flicker {
    
  25% {
    background: var(--light-grayish-blue);
  
  }
  50%{
    background: var(--pale-orange);
  }
  
  75% {        
      text-shadow: none;
      background: var(--light-grayish-blue);
  } 
  100%{
    background: var(--pale-orange);
  }   
} */


.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ************** End Home page ************** */

.discount-banner {
  background-image: linear-gradient(to left top, #ffd202, #ffac32, #ff865b, #ff6983, #ff5ea7);
}

.discount-banner-home {
  background: #7F7FD5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* ************** Product details page ************** */

.item {
  margin-top: 2rem !important;
  padding: 0 3rem;
  max-width: 134rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
}

section {
  display: block
}

.img-main {
  max-width: 100%;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 2rem;
}

.img-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.img-btn {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 10%;
  transition: all 0.3s;
  position: relative;
}

.img-btn__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid transparent;
  transition: all 0.3s;
  transform-origin: bottom;
}

.price {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.price-sub__heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bhagwa-color);
}

.price-main__heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.price-txt {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

.price-box {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.price-box__main {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.price-box__main-new {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.price-box__main-discount {
  border: none;
  padding: 0.5rem 1.25rem;
  background-color: var(--pale-orange);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--bhagwa-color);
}

.price-box__old {
  font-size: 1rem;
  color: var(--grayish-blue);
  position: relative;
  text-decoration: line-through;
}

.price-btnbox {
  display: flex;
  gap: 2.5rem;
}

.price-btns {
  /* width: 30%; */
  padding: 1.5rem 1.25rem;
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
  height: 30%;

}

.price-btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
}

.price-btn__txt {
  font-size: 1rem;
  font-weight: 700;
}

.price-btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
  margin-bottom: 1rem;
}

.price-cart__btn {
  width: 50%;
  box-shadow: 0px 10px 25px 3px rgba(255, 125, 26, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* buy now button */
.btn--orange {
  padding: 2rem 4rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--bhagwa-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  height: 30%;
  color: white;
  transition: .5s;
}

.btn--orange:hover {
  color: var(--bhagwa-color);
  border: 1px solid var(--bhagwa-color);
  background: transparent;
}

.size-box select {
  width: 40%;
  background: --var(--pale-orange) !important;
  border: 1px solid var(--bhagwa-color);
  border-radius: 4px;
  color: var(--dark-grayish-blue);
}

/* add to wishlist button */
.wishlist {
  display: flex;
  gap: 0.8rem;
  margin-left: 2rem;
  padding: 1rem;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  transition: .5s;
}

.wishlist:hover {
  background: transparent;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.scroll-button {
  position: fixed;
  display: none;
  bottom: 10px;
  right: 8%;
  line-height: 75px;
  border-radius: 5px;
  padding: 18px;
  text-align: center;
  vertical-align: middle;
  background: white;
  box-shadow: 0px 0px 3px #000;
  z-index: 99;
  cursor: pointer;
}

/* ************** End Product Details page ************** */

/* ************** Empty cart/wishlist component  ************** */
.empty-cart {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Maison Neue';
  font-weight: 300;
}

.empty-cart svg {
  max-width: 60%;
  padding: 5rem 3rem;
}

.empty-cart svg #oval,
.empty-cart svg #plus,
.empty-cart svg #diamond,
.empty-cart svg #bubble-rounded {
  animation: plopp 4s ease-out infinite;
}

.empty-cart svg #oval:nth-child(1),
.empty-cart svg #plus:nth-child(1),
.empty-cart svg #diamond:nth-child(1),
.empty-cart svg #bubble-rounded:nth-child(1) {
  animation-delay: -240ms;
}

/* Generate the remaining selectors for nth-child dynamically */
.empty-cart svg *[id^="oval"]:nth-child(n),
.empty-cart svg *[id^="plus"]:nth-child(n),
.empty-cart svg *[id^="diamond"]:nth-child(n),
.empty-cart svg *[id^="bubble-rounded"]:nth-child(n) {
  animation-delay: calc(-240ms * (n - 1));
}

.empty-cart svg #bg-line:nth-child(2) {
  fill-opacity: 0.3;
}

.empty-cart svg #bg-line:nth-child(3) {
  fill-opacity: 0.4;
}

@keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}

.empty-cart h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.empty-cart p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 24px;
  max-width: 80%;
  margin: 1.25rem auto 0 auto;
}

/* ************** End Empty cart/wishlist component ************** */

.tahir {
  color: var(--bhagwa-color) !important;
  font-weight: bold;
}

.home-page-product-label {
  border: 1px solid rgb(197, 221, 255);
  opacity: 1;
  background: rgb(235, 244, 255);
  border-radius: 2px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.125rem 0.25rem;
  min-height: 16px;
  margin-right: 0.25rem;
  align-self: start;
}

/* ------------- loader ------------- */
.loader {
  width: 52px;
  height: 52px;
  border: 5px solid #FFF;
  border-bottom-color: var(--bhagwa-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

.track-orderDetail{
  background-color: var(--pale-orange);
}
.track-orderDetail .title{
  color: var(--very-dark-blue);
}
.track-orderDetail .brand{
  color: var(--grayish-blue);
}
.track-orderDetail .bold{
  color: var(--very-dark-blue);
}
.track-orderDetail .normal{
  color: var(--grayish-blue);
}

.privacy-page{
  background: var(--light-grayish-blue);
}
.privacy-page p, li{
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .item {
    margin-top: 0 !important;
    padding: 0;
    width: 100%;
    grid-template-columns: 100%;
    gap: 0rem;
  }

  .img-main {
    border-radius: 0%;
    margin-bottom: .8rem;
  }

  .img-btns {
    gap: .6rem;
  }

  .price {
    gap: 1rem;
    padding: 0 1.2rem;
  }

  .price-sub__heading {
    font-size: 1rem;
  }

  .price-main__heading {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
  }

  .price-txt {
    margin-top: 1rem;
    font-size: 1rem;
  }

  /* -------- */
  .price-box {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;

  }

  .price-box__main {
    gap: 1rem;
    align-items: center;
  }

  .price-box__main-new {
    font-size: 1.5rem;
  }

  .price-box__main-discount {
    font-size: .8rem;
  }

  .price-btnbox {
    flex-direction: column;
    gap: 1.5rem;
  }

  .price-btns {
    padding: .75rem .75rem;
    gap: 1rem;
  }

  .price-cart__btn {
    width: 100%;
    margin-bottom: 4rem;
  }

  .btn--orange {
    padding: 1rem 2rem;
  }

  .size-box select {
    width: 50%;
    height: 45px;
  }

  .size-box .wishlist {
    height: 45px;
    text-align: center;
    align-items: center;
  }

  .scroll-button {
    bottom: 10%;
    padding: 10px;
  }

  .empty-cart {
    width: 100%;
  }
  .empty-cart svg {
    max-width: 100%;
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

}