@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Geologica:wght@300&family=Oswald&display=swap');

/* font-family: 'Geologica', sans-serif; */
/* font-family: 'Agdasima', sans-serif; */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Geologica', sans-serif;
    --bhagwa-color: #ff8000;
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
}

.font-agdasima {
    font-family: 'Agdasima', sans-serif;
}

.font-geolatica {
    font-family: 'Geologica', sans-serif;
}

.bhagwa-color {
    color: var(--bhagwa-color) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;